<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to external CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        #result img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 8px rgba(219, 202, 13, 0.735);
        }

    </style>
</head>
<body>
    <!------------------------------------ Header ------------------------------------------------------>

    <div class="header">
        <div class="logo-title">
            <img src="/image/logo.png" alt="Logo" class="logo"> <!-- Update the logo path -->
            <h1>H O R</h1>
        </div>
        <nav>
            <a href="#home">Home</a>
            <a href="#services">Services</a>
            <a href="#about">About</a>
            <a href="#detection"> Image</a>
            <a href="#video-detection"></i> Video</a>
            <a href="#stream-detection"></i> Streaming</a>
        </nav>
    </div>

<!------------------------------------ Welcome Section --------------------------------------------------->

    <section id="home" class="welcome">
<video id="background-video" autoplay loop muted playsinline>
            <source src="http://127.0.0.1:8000/video" type="video/mp4" />
        </video>

        <h2>
            <div id="Welcometo">Welcome to <span>H O R</span></div><br>
            <span>Our Drowsiness Detection System</span>
        </h2>
    </section>
    
<!------------------------------------ Services ----------------------------------------------------------->

    <section id="services">
        <h2>Our Services</h2>
        <h3 id="breif">
            Our advanced Drowsiness Detection System uses real-time facial recognition and behavioral analysis to monitor driver alertness and prevent fatigue-related accidents. It detects drowsiness and provides instant audio and visual alerts, enhancing road safety. Seamlessly integrated into vehicles, <span>H O R</span> offers a reliable solution to keep you and your loved ones safe on the road.
        </h3>
        <div class="services">
            <div class="service-card">
                <img src="/image/integration.jpeg" alt="Night Detection">
                <h3 >Integration Capability</h3>
                <p>Our system seamlessly integrates with vehicle platforms, providing real-time alerts, enhanced safety, all while maintaining a compact size for easy installation and minimal impact on vehicle design.</p>
            </div>
            <div class="service-card">
                <img src="/image/alert.jpeg" alt="Emergency Alert">
                <h3>Emergency Alert</h3>
                <p>Our system instantly sends emergency alerts when drowsiness is detected, providing real-time notifications to help prevent accidents and ensure your safety by keeping you aware and responsive on the road.</p>
            </div>
            <div class="service-card">
                <img src="/image/brake_ser.jpeg" alt="Brake Activation">
                <h3>Brake Activation</h3>
                <p>Our system automatically activates the vehicle's brakes after prolonged drowsiness detection, preventing accidents and ensuring the safety of both the driver and others on the road.</p>
            </div>
        </div>
    </section>

    <section id="about">
        <h2>About Us</h2>

    </section>

<!------------------------------------ Image Section ------------------------------------------------------>


    <section id="detection" class="form-section">
        <h2>Drowsiness Detection Upload</h2>
        <p>Upload an image for drowsiness detection:</p>
    
        <label for="imageInput" class="custum-file-upload">
            <div class="icon">
                <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"></path>
                </svg>
            </div>
            <div class="text">
                <span>Click to upload image</span>
            </div>
            <input id="imageInput" type="file" name="file" accept="image/*" required>
        </label>
        <input type="file" id="imageInput" style="display: none;">
        
        <button class="btn" id="imagetButton">
            <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
            </svg>
            <span class="text">Detect Drowsiness</span>
        </button>
        <div id="result">
            
            <!-- Result of the prediction will be displayed here -->
        </div>
    </section>

<!------------------------------------ Video section -------------------------------------------------->

    <section id="video-detection" class="form-section">
        <h2>Drowsiness Detection Video Upload</h2>
        <p>Upload a Video for drowsiness detection:</p>
        <form id="videoForm" class="form-custome">
            <label for="videoInput" class="custum-file-upload">
                <div class="icon">
                    <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"></path>
                    </svg>
                </div>
                <div class="text">
                    <span>Click to upload video</span>
                </div>
                <input id="videoInput" type="file" name="file" accept="video/*" required>
            </label>
            <button class="btn" id="videoButton" type="submit">
                <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" class="sparkle">
                    <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                </svg>
                <span class="text">Detect Drowsiness</span>
            </button>
        </form>
    
        <audio id="warningSound" src="/static/warning.mp3" preload="auto"></audio> 
        <audio id="brakeSound" src="/static/brake_sound.mp3" preload="auto"></audio>
        <div id="vid_result" style="position: relative;">
        </div>
        <div id="warning" style="display: none;" class="warning-message"><span>WARNING:</span> Drowsiness Detected!</div>
        <div id="brakeWarning" style="color:orange; display: none;"><span id="countdown"> Brakes Opened!
            Car will stop in 3 seconds 
        </span>
        <span><img src="/image/brake.png" alt="Logo"  class="brake hidden" id="brakeIcon"></span>
        </div>
    </section>

   
<!------------------------------------ Streaming ------------------------------------------------------>

<section id="camera-stream" class="form-section">
    <h1>Camera Stream</h1>
    
    <canvas id="cameraStream" width="640" height="480" style="box-shadow: 1px 1px 8px rgba(219, 202, 13, 0.735);"></canvas>
    
    <div class="loader" style="display: none;"></div>
    
    <div id="connectionMessageCamera" style="display: none; color: orange; text-align: center;">
        Establishing connection...
    </div>
    
    <button class="btn" id="cameraStreamButton">
        <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
        </svg>
        <span class="text">Start Stream</span>
    </button>

    <audio id="brakeSoundCamera" src="/static/brake_sound.mp3" preload="auto"></audio>
    <audio id="warningSoundCamera" src="/static/warning.mp3" preload="auto"></audio>
    
    <!-- Warning and Brake Warning Messages -->
    <div id="warningCamera" class="warning-message" style="display: none;"><span>Warning:</span> Drowsiness Detected!</div>
    <div id="brakeWarningCamera" style="color:orange;display: none; ">
        <span id="countdownCamera">Brakes Opened! Car will stop in 3 seconds</span>
        <span><img src="/image/brake.png" alt="Logo" class="brake hidden" id="brakeIconCamera"></span>
    </div>
</section>

<!------------------------------------ Java Script Link ----------------------------------------------->
<script src="/static/script.js"></script>


</body>


    <!---------------------------- footer section ------------------------------------------------------>

<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>About Us</h3>
            <p>
                <span>H O R</span>  is dedicated to enhancing road safety through advanced drowsiness detection technology. Our system uses real-time facial recognition and behavioral analysis to monitor driver alertness and prevent fatigue-related accidents.
            </p>
        </div>
        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p>Email: <a href="aliadelsaid2003@gmail.com">aliadelsaid2003@gmail.com</a></p>
            <p>Phone: <a href="tel:01205031736">+20 01205031736</a></p>
        </div>
        <div class="footer-section social">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li ><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 H O R. All rights reserved.</p>
    </div>
</footer>

</html>
